:root {
	--space-lg: #{rem(100px)};
	--space-md: #{rem(80px)};
	--space-sm: #{rem(50px)};

	@include respond-below(xl) {
		--space-lg: #{rem(50px)};
		--space-md: #{rem(50px)};
	}

	@include respond-below(md) {
		--space-md: #{rem(40px)};
		--space-sm: #{rem(30px)};
	}
}

// CSS for WP-Admin
#wpadminbar {
	position: fixed;
}

.wrapper {
	position: relative;
	// display: grid;
	// grid-template: 1fr auto / 1fr;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.main-container {
	width: 100%;
	align-self: start;
}

// Section Spacing
.space {
	&-lg {
		padding-top: var(--space-lg);
		padding-bottom: var(--space-lg);

		&-m {
			margin-top: var(--space-lg);
			margin-bottom: var(--space-lg);
		}
	}

	&-md {
		padding-top: var(--space-md);
		padding-bottom: var(--space-md);

		&-m {
			margin-top: var(--space-md);
			margin-bottom: var(--space-md);
		}
	}

	&-sm {
		padding-top: var(--space-sm);
		padding-bottom: var(--space-sm);

		&-m {
			margin-top: var(--space-sm);
			margin-bottom: var(--space-sm);
		}
	}
}

// Text color white
.bg-dark,
.bg-secondary,
.inner-text-white {
	*:not(.btn) {
		color: $white;
	}
}

/* Pagination */
.pagination {
	padding: rem(30px) 0;

	ul {
		@include flex-center;
		padding: 0;
		margin: 0;
		list-style: none;

		li {
			position: relative;
			padding: 0;
			margin: 0 rem(10px);
			font-weight: 700;
			color: rgba($primary-100, 0.60);

			a {
				&:hover {
					color: $secondary-100 !important;
				}
			}

			a:not(.prev, .next),
			span {
				color: rgba($primary-100, 0.60);
				font-weight: 700;
				line-height: 1;
				text-decoration: none;
				border: none;
				transition: 0.4s ease background-color, 0.4s ease color;

				&.active {
					border-color: $primary-100;
				}
			}

			.prev,
			.next {
				color: $primary-100;
				text-decoration: none;
				cursor: pointer;

				&::after {
					content: '';
					position: absolute;
					top: -2px;
					bottom: -2px;
					left: -4px;
					right: -4px;
					border: 1px solid $gray;
					border-radius: rem(6px);
					opacity: 0;
					visibility: hidden;
				}

				&:hover {
					color: $secondary-100;
				}

				&:focus {
					&::after {
						outline: 0;
						opacity: 1;
						visibility: visible;
					}
				}

				&.disabled {
					opacity: 0.60;
					pointer-events: none;
				}
			}

			.current {
				color: $primary-100;
			}
		}
	}
}

/* Breadcrumb */
.breadcrumbs {
	margin-bottom: rem(48px);

	@include respond-below(xl) {
		margin-bottom: rem(32px);
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			display: flex;
			align-items: center;
			padding: 0;

			a {
				font-weight: 700;
				text-decoration: none;
			}

			span {
				color: $primary-100;
				font-weight: 400;
			}

			&:not(:last-child) {
				&::after {
					@include icon('c');
					font-size: 6px;
					color: $primary-100;
					margin: 3px 8px 0 8px;
				}
			}
		}
	}
}

/* Section Heading */
.sec-heading {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: rem(50px);

	p {
		font-size: rem(20px);

		@include respond-below(md) {
			font-size: rem(18px);
		}
	}
}